@import "tailwindcss";
body {
  transition: background-color 0.5s ease, color 0.5s ease;
}
.input-focus:focus-within {
  box-shadow: 0 0 0 2px rgba(24, 160, 88, 0.2);
}

.fade-slide-enter-active,
.fade-slide-leave-active {
  transition: all 0.3s ease;
}

.fade-slide-enter-from {
  opacity: 0;
  transform: translateX(10px);
}

.fade-slide-leave-to {
  opacity: 0;
  transform: translateX(-10px);
}


